@charset "UTF-08";

/*    '' # '' responde no CSS ao ''id'' criado no HTML 
        '' . '' responde no CSS ''class'' no HTML     */

body {
    background-color: rgb(195, 233, 220);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blueviolet;
}

h1#principal {
    text-align: center;
    background-color: blanchedalmond;
    color: brown;
}

h2 {
    color: rgb(121, 121, 116);
}

